// this is the base stylesheet

$blueDark:              #003058;
$blueLight:				#07aae0;
$blueLighter:			#51c4e3;
$green:					#bfd532;
$grey:					#668c8d;
$greyDark:				#90a9ab;
$greyLight:				#e2e9e9;
$cchcFontFamily: "news-gothic-std", Helvetica, Tahoma, "Nimbus Sans", Arial, sans-serif;
$baseFontSize: 			16px;

@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/images";

body {
	background: $white;
	font-family: $sansFontFamily;
}
#main-header {
	background: $blueDark;
	header {
	
		h1 {
			width: 322px;
			height: 58px;
			float: left;
			margin: 26px 0;
		
			a {
				background: url(images/CCHC_Horz_tag_logo_322.png);
				width: 322px;
				height: 58px;
				display: block;
			}
			
			span {
				display: none;
			}
		}
		
		h2 {
			display: none;
		}
		
	}
	ul {
		font-family: $cchcFontFamily;
		margin: 23px 0;
		width: 150px;
		float: right;
		
		li {
			padding: 0 0 0 33px;
			line-height: 24px;
			font-size: 12px;
		
			&#header_cchc {
			    background: url(images/heart-icon.png) no-repeat 5px 0 $green;
			    margin: 0 0 10px 0;
			    @include border-radius(5px 5px 0px 0px);
			}
			
			&#header_mycc {
			    background: url(images/mycchc-icon.png) no-repeat 5px 0 $blueLighter;
			    @include border-radius(0px 0px 5px 5px);
			}
			
			a {
				color: $blueDark;
			}
		}
	}
}

#main-nav {
	background: $blueLight;
	border-bottom: solid 1px $blueDark;
	padding: 5px 0;
	font-size: 0.938em;
	position: relative;
	z-index: 999;
	
	ul {
		list-style: none;
		margin: 0 0 0 -6px;
		
		li {
			float: left;
			line-height: 32px;
			margin: 0;
			padding: 0 8px 0 6px;
			background: url(images/nav-bg.png) no-repeat right center;
			
			&.last {
				background: none;
			}
			
			a {
				color: $white;
			}
			
			&:hover {
				ul {
					display: block;
				}
			}
		}
		ul {
			position: absolute;
			display: none;
			margin: 0;
			padding: 0;
			width: 200px;
			
			li {
				float: none;
				background: $blueDark;
				line-height: 19px;
				padding: 5px;
			
				&:hover {
					ul {
						display: block !important;
					}
				}
			}
			
			ul {
				display: none !important;
				position: absolute;
				left: 200px;
				margin-top: -24px;
			}
		}
	}
	
	form {
		margin: 4px 0;
		float: right;
		
		input {
			height: 23px;
			margin: 0;
			padding: 0 20px 0 5px;
			@include box-shadow((2px 2px 4px #000 inset, 0 2px 4px rgba(255,255,255,.3)));
			border: none;
			background: url(images/search-icon.png) no-repeat right center $white;
			width: 200px;
		}
	}
}
#home-gradient {
	height: 374px;
	@include background-image(linear-gradient(left, #6eb4d3, white)); 
	@include box-shadow((inset 0px -9px 4px 0px rgba(18, 51, 88, .3)));
	position: absolute;
	width: 100%;
	z-index: -1;
}
#site-title {
	h1 {
		font-size: 2.25em;
		font-family: $cchcFontFamily;
		font-weight: normal;
		color: $blueDark;
		margin: 40px 0 10px 0;
	}
}
#carousel-screenshots {
	position: relative;
	@include box-shadow((0 0 3px 1px #555, 0 0 3px 1px rgba(0,0,0,.3)));
	@include border-radius(0px 20px 0px 0px);
	overflow: hidden;
	.item img {
		width:100%;
		@include border-radius(0px 20px 0px 0px);
	}
	.carousel-nav {
		position: absolute;
		bottom: 10%;
		left: 75%;
	
		a {
			display:block;
			width:13px;
			height:12px;
			background: url(images/bullets.png) no-repeat;
			text-indent:-9999px;
			border:0;
			margin-right:3px;
			float:left;
			background-position: 0 -12px;
			
			&.active {
				background-position: 0 0;
			}
		}
	}
}
#breadcrumbs {
	font-size: .75em;
	line-height: 2.5em;
	padding: 0 0 2.5em 0;
	
	p {
		margin: 0;
	}
}
#side-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
	
	lh {
		background: $greyDark;
		font-family: $cchcFontFamily;
		@include border-radius(10px 0 0px 0px);
		width: 100%;
		display: block;
		line-height: 2.125em;
		@include box-shadow((0 0 3px 1px #ccc, 0 0 3px 1px rgba(255,255,255,.1)));
		
		a {
			color: $white;
			padding: 0 1em 0 0;
		}
	}
	li {
		border-bottom: solid #c0cece 1px;
		line-height: 1.75em;
		
		a {
			color: $blueDark;
			padding: 0 1em 0 0;
		}
		
		&.parent-here {
			background: $greyLight url(images/here-arrow.png) right top no-repeat;
			border: none;
			
			a {
				color: $blueLight;
				font-weight: bold;
			}
			
			li a {
				color: $greyDark;
				font-weight: normal;
			}
		}
	}
	ul {
		border-top: solid #c0cece 1px;
		list-style: none;
		margin: 0;
		padding: 0;
		
		li {
			font-size: .75em;
			line-height: 1.75em;
		}
	}
	
}
#more_info {
	background: url(images/blue-fade.png) no-repeat;
	padding: 30px 0;
	text-align: center;
	margin: 1px 0 0 0;
	
	h1 {
		font-size: 1.25em;
		font-weight: normal;
		margin: 0;
	}
	p {
		font-family: $cchcFontFamily;
		margin: 0;
		font-size: .938em;
		.tel {
			color: $blueLight;
			font-size: 1.75em;
			border-top: solid $blueLight 1px;
			font-weight: bold;
		} 
		a {
			color: $black;
		}
	}
}
#main-content {
	@include box-shadow((-6px 0 3px -2px #ccc, -6px 0 3px -2px rgba(255,255,255,.1)));
	
	#primary_image {
		width: 100%;
		max-width: 460px;
		height: 300px;
		background-repeat: no-repeat;
		background-position: center top;
		@include border-radius(0px 30px 0px 0px);
		@include box-shadow((1px 1px 2px 2px #ccc, 1px 1px 2px 2px rgba(255,255,255,.1)));
	}
	.content-padder {
		padding: 1.1em 0 1.1em 1.1em;
	}
	h1 {
		color: $blueLight;
		font-size: 2.2em;
		line-height: 1.1em;
		font-family: $cchcFontFamily;
		margin-top: 0;
		font-weight: normal;
	}
	h2 {
		color: $grey;
		font-size: 1.063em;
		line-height: 1.2em;
		margin-bottom: 0;
		font-weight: normal;
	}
	p {
		margin: 0 0 1em 0;
	}
}

.sidebox {
	padding: 7px;
	margin: 0 0 20px 0;
	@include box-shadow((0 0 3px 1px #ccc, 0 0 3px 1px rgba(255,255,255,.1)));
	@include border-radius(10px 10px 0px 0px);
	
	h1 {
		text-align: center;
		font-size: 1.25em;
		font-weight: normal;
		font-family: $cchcFontFamily;
		margin: 0;
		color: $grey;
	}
	p {
		margin: 5px 0 0 0;
	}
	
}
#main-footer {
	@include box-shadow((inset 0px 9px 4px 0px rgba(18, 51, 88, .3)));
	padding: 35px;
		
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			color: $grey;
			
			a {
				color: $grey;
			}
			
			lh {
				font-size: 19px;
				font-family: $cchcFontFamily;
			}
			
			li {
				font-size: 10px;
				line-height: 16px;
				width: 60%;
				margin: 10px 0;
			}
			&#social {
			    float: right;
			    
			    li {
			    	float: left;
			    	margin: 0 6px 0 0;
			    	width: auto;
			    	
			    	span {
			    		display: none;
			    	}
			    	
			    	a {
			    		display: block;
			    		width: 36px;
			    		height: 36px;
			    	}
			    	
			    	&#twitter a {
			    		background: url(images/twitter.png);
			    	}
			    	
			    	&#youtube a {
			    		background: url(images/youtube.png);
			    	}
			    	
			    	&#facebook a {
			    		background: url(images/facebook.png);
			    	}
			    }
			}
		}
}